python3 -m pip install -U discord.py

sudo apt install libffi-dev libnacl-dev python3-dev

curl -fsSL https://ollama.com/install.sh | sh

ollama serve

ollama run llama3


# https://discordpy.readthedocs.io/en/stable/#getting-started